doctype html 
html
  head
    title base 
    block script
    style
        include ../static/style.css
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="bg.jpg", alt="", srcset="")
                | ADA
            li #[a(href='/') Home]
            li #[a(href='/about') about]
            li #[a(href='/contact') contact]
            li #[a(href='/services') services]
  
    block content

    section#footer 
        | copyright | academy 2023