doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="bg.jpg", alt="", srcset="")
                | ADA
            li #[a(href='/') Home]
            li #[a(href='/about') about]
            li #[a(href='/contact') contact]
            li #[a(href='/services') services]
    section#intro 
        div welcome to dance academy 
        div.small just dance 
    section#ourmission
        div.mission our mission
        div.card
            p this is best dance academy 
            div.card-box 
                div.card-img
                    img(src="bg.jpg", alt="", srcset="")
                div.card-content
                  | besttt dwemmf w few f f  f ef es f dewf ew fe  
        div.card
            p best instructors 
            div.card-box 
                div.card-img
                    img(src="bg.jpg", alt="", srcset="")
                div.card-content
                  | instructor
        div.card
            p dance rhw way u like
            div.card-box 
                div.card-img
                    img(src="bg.jpg", alt="", srcset="")
                div.card-content
                  | dance

    section#sponser 
        h3 our sponser
        div#sponserimg
            img(src="bg.jpg", alt="")
            img(src="bg.jpg", alt="") 
            img(src="bg.jpg", alt="") 
            img(src="bg.jpg", alt="") 
            
    section#footer 
        | our fooer
    script
      include ../static/index.js
