*{
    margin: 0;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(31 29 29);
    position: sticky;
    top: 0;
}

ul{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
   
}
.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 33%;
}


li{
    list-style: none;
    margin: 15px ;
}
a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px 15px;
    font-size: 16px;
    font-family:cursive;
}

.rightNav{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
}
.btn-sm{
    background: none;
    color: aliceblue;
    margin: 15px ;
    font-size: 15px;
    border:2px solid white;
    border-radius: 10px;
}

.firstSection{
    padding-top: 15px;
    height: 100vh;
    background: url('chip.jpg') no-repeat center center;
    background-size: cover;

}
.main-box{
    display: flex;
    flex-direction: row;
    height: 60%;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.firsthalf{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
}
.heading{
    font-size: 32px;
}
.content{
    font-size: 20px;
}


.secondhalf{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    margin: 20px 20px;
}
.secondhalf img{
    padding: 1px 1px;
    height: 87%;
    border: 5px solid white;
    border-radius: 150px;
}

.buttons .btn{
    cursor: pointer;
    border: 2px solid white;
    border-radius: 25px;
    padding: 15px 35px;
    margin: 10px;
    background: none;
    color: white;
}

.secright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 30vh;
    padding: 20px;
    background-color: antiquewhite;
}

.secleft{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 30vh;
    padding: 20px;
    background-color: antiquewhite;
}

.para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 54px;
}
.paraimg{
    display: flex;
    justify-content: center;
    height: 90%;
}
.paraimg img{
    height: 87%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 8px 69px;
}

.section3{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: beige;
}
#contactform{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
}

.name{
    margin: 10px auto;
    width: 50%;
}
.btn{
    margin: auto;
    width:10;
    border: 2px solid black;
    border-radius: 5px;
}

